# ðŸ“˜ Password Guesser - Aggregating Marks

# Importing Pandas

In [ ]:
import pandas as pd

# Step 1: Load the CSV file

In [ ]:



df = pd.read_csv("Mini Project - Marks Adding.csv")

    Roll Num  Marks
0  102003001      3
1  102003002      5
2  102003017      5
3  102003018      5
4  102003029      5

# Step 2: Group by Roll Num and sum marks

In [4]:
result = df.groupby("Roll Num").sum().reset_index()

# Step 3: Save the result as a new CSV

In [5]:
result.to_csv("Final_Marks.csv", index=False)

# Step 4: Display the result

In [6]:
result.head()

    Roll Num  Marks
0  102003001      3
1  102003002      5
2  102003017      5
3  102003018      5
4  102003029      5